body {
    /* Webpack will add this image to the output directory and replace the url with 
    the final path to the image  */
    /* background-image : url(../img/pizza.jpg);
    background-size : cover; */
    background-image : url(../img/bgwish.jpg);
    background-size : cover;
 

}


#footer{
    font-size: large;
}


.p-5{
    background-color: bisque;
    display: inline-block;
    align-items: center;    
    min-height: 50vh;
    max-width: 50vh;
    min-width: 50vh;
    box-sizing: border-box;
    margin: 0;
}



.form-control.mb-3.succes input{
    border-color: #2ecc71;
    max-width: 50vh;

}
.form-control.mb-3.error input {
    border-color: red;
    max-width: 50vh;

}


.page{
    width:75%;
    float:right;
    
}
  
  #sidebar {
      width: 25%;
      float: left;
      clear: both;
      position: absolute; 
  }

